/* modal display:flex*/

.signup-modal {
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-contents {
    border-radius: var(--border-radius);
    width: 30rem;
    background-color: #F8F7F6;
    padding: 0 2rem;
}


.modal__exit-button {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    margin: 1.1rem 0;
}

.signup-form {

}

.signup-form .signup-form__input {
    display:flex;
    flex-direction: column;
}

.signup-form__input input {
    margin: 0.1rem 0 0.4rem 0;
    font-size: 2rem;
    height: 2.5rem;
    text-indent: 1rem;
}

.signup-form__input input::placeholder {
    color: #A7ABAD;
    font-size: 2rem;
    font-weight: 100;
}

.signup-form__input:first-child {
    margin-bottom: 2rem;
}

.signup-form__input button {
    background-color: var(--main-color);
    color: white;
    border: none;
    margin: 0.1rem 0 2.5rem 0;
    font-size: 2rem;
    height: 2.5rem;
    font-weight: 300;
}

.modal__exit-button span {
    color:var(--main-color);
    font-size: 1.5rem;
}

