{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY CAMPUS</title>
  <link rel="stylesheet" href="{% static "/css/error.css" %}" type="text/css">
</head>
<body>
  {% if user.is_authenticated %}
    <a href="{% url 'core:board:main_board' user.univ.url_name %}">
      <img src="{% static "images/logo2.png" %}" class="error-logo">
    </a>
  {% else %}
    <a href="{% url 'main' %}">
      <img src="{% static "images/logo2.png" %}" class="error-logo">
    </a>
  {% endif %}
  <div class="error-number">404</div>
  <div class="error-message">Page Not Found</div>
</body>
</html>