{% load static %}
<!doctype html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="{% static '/ico/box-logo.ico' %}"/>
    <meta name="theme-color" content="#4fbcbd" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#4fbcbd">
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "base/css/base.css" %}" type="text/css">
    <title>{% firstof html_title "MY CAMPUS" %}</title>
    <script src="https://kit.fontawesome.com/6b942254ad.js"></script>
    {% block css %}
    {% endblock %}
</head>

<body>
    <div class="base__header pc__header">
        <div class="base__header__used-space container">
        {% if univ.logo %}
            <div class="base__logo"><img src="{{ univ.logo.url }}"></div>
        {% else %}
            <div class="base__logo"><img src="{% static 'svg/logo.svg' %}" alt=""></div>
        {% endif %}
            {% block header %}
            {% endblock %}
        </div>
    </div>
    {% block contents %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/sendbird@3.0.105/SendBird.min.js"></script>
    <script src="{% static 'chat/js/API.js' %}"></script>
    <script src="{% static 'chat/js/chatUtil.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>

</html>