{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static "registration/css/main.css" %}">
    <link rel="stylesheet" href="{% static "accounts/css/modal.css" %}">
{% endblock %}


{% block contents %}
    <div class="container">
        <div class="container__whitebox">
            <div class="accounts__wrapper">
                <div class="accounts__logo-box">
                    <img src="{% static "images/logo.png" %}" alt="my_campus">
                    <h1 class="accounts__mycampus">MY CAMPUS</h1>
                </div>
                <div class="accounts__login-box">
                    <form method="post" class= "accounts__user-info">
                        {% csrf_token %}
                        <input class="user-info__button login-info" type="text" name="username" placeholder="ID"/>
                        <input class="user-info__button login-info" type="password" name="password" placeholder="PW"/>
                        <button class="user-info__button login-button" type="submit">Login</button>
                        <button class="user-info__button forgot-button">Forgot your ID / Password? </button>
                    </form>
                    <div class="accounts__newbiebox">
                        <button class="user-info__button newbie-button" onclick="signupModalOpen()">New to MY CAMPUS?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="signup-modal" onclick="focusOut()">
        <div class="modal-contents">
            <div class="modal__exit-button">
                <span class="times">&times</span>
            </div>
            <div class="signup-form">
                <div class="signup-form__input">
                    <label for="univ" content="Your University" class="signup__form-label">Your Universiy</label>
                    <input name="univ" type="text" readonly value="{{ url }}" class="signup__verification-form" />
                </div>
                <div class="signup-form__input">
                    <label for="email" class="signup__form-label">Enter your university email</label>
                    <input name='email' type="text" class="signup__verification-form" placeholder="ex) example@{{ univ_domain }}"/>
                </div>
                <div class="signup-form__input signup-form__submit">
                    <button class="signup-form__next-button" onclick="sendMail">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static "accounts/js/main.js" %}"></script>
{% endblock %}