{% extends 'base.html' %}
{% load static %}

{% block contents %}
<div id='chat'>
    <div id='title'>
        {{user}}'s chat with {{partner}}
    </div>
    <div id='chatroom' style="overflow:scroll; width:500px; height:150px;">

    </div>
    <div class="form">
        <input type="text" id="message">
        <input type="submit" id="m_submit">
    </div>
</div>
{% endblock contents %}

{% block javascript %}

<script>
    const chatroom = document.getElementById('chatroom')
    const m_btn = document.getElementById('m_submit')
    const params = new sb.GroupChannelParams();
    params.addUserIds(['{{partner}}']);
    
    sb.GroupChannel.createDistinctChannelIfNotExist(params, function (groupChannel, error) {
        if (error) return;
        const inviter = groupChannel.channel.inviter
        const invitee = groupChannel.channel.members[0].userId == inviter.userId ? groupChannel.channel.members[1] : groupChannel.channel.members[0]
        if(!invitee) {
            chatroom.innerHTML += "no such user"
            return
        }
        if (groupChannel.isCreated && sb.currentUser.userId == inviter.userId) {
            sb.currentUser.createMetaData({
                [invitee.userId]: groupChannel.channel.url
            })
        }
        
        loadLog(groupChannel.channel).load(function (messages, error) {
            if (error) return;
            for (m of messages) chatroom.innerHTML += strfy(m)
            chatroom.scrollTop = chatroom.scrollHeight;
        });
    });


    m_btn.addEventListener('click', e => {
        sb.GroupChannel.getChannel(sb.currentUser.metaData['{{ partner }}'], function (groupChannel, error) {
            if (error) return;
            groupChannel.sendUserMessage(document.getElementById('message').value, function (message,
                error) {
                if (error) return;
                chatroom.innerHTML += strfy(message)
                chatroom.scrollTop = chatroom.scrollHeight;
            });
        });
    });
</script>

{% endblock javascript %}