{% extends 'base.html' %}
{% load static %}

{% block contents %}
<div id='chat'>
    <div id='title'>
        {{user}}'s chat with {{partner}}
    </div>
    <div id='chatroom' style="overflow:scroll; width:500px; height:150px;">

    </div>
    <div class="form">
        <input type="text" id="message">
        <input type="submit" id="m_submit">
    </div>
</div>
{% endblock contents %}

{% block javascript %}

<script>
    const chatroom = document.getElementById('chatroom')
    const m_btn = document.getElementById('m_submit')

    sb.connect("{{ user.username }}", async function (user, error) {
        if (error) return;
    });

    m_btn.addEventListener('click', e => {
        sb.GroupChannel.getChannel(sb.currentUser.metaData['{{ partner }}'], function (groupChannel, error) {
            if (error) return;
            groupChannel.sendUserMessage(document.getElementById('message').value, function (message,
                error) {
                if (error) return;
                chatroom.innerHTML += strfy(message)
                chatroom.scrollTop = chatroom.scrollHeight;
            });
        });
    });
</script>

{% endblock javascript %}