{% extends 'base.html' %}
{% load static %}

{% block contents %}
username : {{user.username}}<br>
<input type="text" id="other">
<select name="flag" id="flag">
    <option value="norm">norm</option>
    <option value="anon">anon</option>
</select>
<input type="submit" id="submit">
<div id="chat_container">
    <div id='chat_list'>
    </div>
    <div id="chat_box" to="none">
        <div id='chat_header'>

        </div>
        <div id='chat_room' url='none' with='none' style="overflow:scroll; width:500px; height:150px;">

        </div>
        <div class="chat_input">
            <input type="text" id="message">
            <input type="submit" id="m_submit">
        </div>
    </div>
</div>
{% endblock contents %}

{% block javascript %}
<script>
    const chat_list = document.getElementById('chat_list')
    const chat_header = document.getElementById('chat_header')
    const chat_room = document.getElementById('chat_room')
    const chat_text = document.getElementById('message')
    const m_btn = document.getElementById('m_submit')
    const other = document.getElementById('other')
    const flag = document.getElementById('flag')
    const submit = document.getElementById('submit')


    sb.connect("{{ user.username }}", async function (user, error) {
        if (error) return;
        const channels = await loadChatList()
        if (channels.length) {
            channels.forEach(cur => addChannelBtn(cur, chat_list, cur.customType))
            const buttons = [...chat_list.querySelectorAll('button')]
            buttons.forEach(cur => {
                setChannelBtn(cur, chat_header, chat_room)
            })
        }
    });

    submit.addEventListener('click', async (e) => {
        let channel, buttons
        try {
            channel = await openAChat(other.value, flag.value)
            addChannelBtn(channel, chat_list, flag.value)
            buttons = document.getElementsByClassName('url')
            setChannelBtn(buttons[buttons.length - 1], chat_header, chat_room)
        } catch (e) {
            console.log(e)
        }
    })


    m_btn.addEventListener('click', async (e) => {
        sb.GroupChannel.getChannel(chat_room.getAttribute('url'), (groupChannel, error) => {
            if (error) return
            groupChannel.sendUserMessage(chat_text.value, (message, error) => {
                if (error) return
                chat_room.innerHTML += strfy(message, groupChannel.customType)
                chat_room.scrollTop = chat_room.scrollHeight;
            })
        })
    })
</script>
{% endblock javascript %}