{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "chat/css/index.css" %}" type="text/css">
{% endblock %}
{% block contents %}
<div id="chat-container">
    <div id="chat-list-container">
        <div id="chat-list-header">
            messenger
        </div>
        <hr width=100%>
        <input id="chat-search" type="text" placeholder="search messenger">
        <ul id='chat-list'>
        </ul>
    </div>
    <div id="chat-main">
        <div id='chat-header'>
            none
        </div>
        <hr width=100%>
        <ul id='chat-box' url='none' with='none'>

        </ul>
        <hr width=100%>
        <div id="chat-input">
            <input type="text" id="chat-text">
            <input type="submit"  id="chat-text-btn">
        </div>
    </div>
</div>
{% endblock contents %}

{% block javascript %}
<script>
    const chat_list = document.getElementById('chat-list')
    const chat_header = document.getElementById('chat-header')
    const chat_box = document.getElementById('chat-box')
    const chat_text = document.getElementById('chat-text')
    const chat_search = document.getElementById('chat-search')
    const chat_text_btn = document.getElementById('chat-text-btn')
    const flag = 'anon'


    sb.connect("{{ user.username }}", async function (user, error) {
        if (error) return;
        const channels = await loadChatList()
        if (channels.length) {
            channels.forEach(cur => addChannelBtn(cur, chat_list, cur.customType))
            const buttons = [...chat_list.querySelectorAll('.url')]
            buttons.forEach(cur => {
                setChannelBtn(cur, chat_header, chat_box)
            })
            buttons[0].click()
        }
    });

    chat_search.addEventListener('keypress', async (e) => {
        if (e.key == "Enter" && chat_search.value != "") {
            let channel, buttons
            try {
                channel = await openAChat(chat_search.value,'anon')
                addChannelBtn(channel, chat_list, 'anon')
                buttons = document.getElementsByClassName('url')
                setChannelBtn(buttons[buttons.length - 1], chat_header, chat_box)
            } catch (e) {
                alert('check username')
            }
        }
    })
    chat_text.addEventListener('keypress', async (e) => {
        if (e.key == 'Enter' && chat_box.getAttribute('url') != 'none' && chat_text.value != "") {
            sb.GroupChannel.getChannel(chat_box.getAttribute('url'), (groupChannel, error) => {
                if (error) return
                groupChannel.sendUserMessage(chat_text.value, (message, error) => {
                    if (error) return
                    chat_box.innerHTML += strfy(message, groupChannel.customType)
                    chat_box.scrollTop = chat_box.scrollHeight;
                    chat_text.value = ""
                })
            })
        }
    })

    chat_text_btn.addEventListener('click', async (e) => {
        if (chat_text.value != "") {
            sb.GroupChannel.getChannel(chat_box.getAttribute('url'), (groupChannel, error) => {
                if (error) return
                groupChannel.sendUserMessage(chat_text.value, (message, error) => {
                    if (error) return
                    chat_box.innerHTML += strfy(message, groupChannel.customType)
                    chat_box.scrollTop = chat_box.scrollHeight;
                    chat_text.value = ""
                })
            })
        }
    })
</script>
{% endblock javascript %}