.pc__board {
    display: none!important;
}

.board__main {
    display: flex;
    flex-direction: column-reverse;
    padding: 0!important;

}

.board__pannel__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.3rem;
    padding: 0 0.3rem!important;
    height: 2rem;
}

.pannel__top__state {
    width: 37%;
    height: 98%;
}

.pannel__top__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 62%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    z-index: 1;
}

.top__category__face {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    background-color: #9cd0c1;
    color: white;
    height: 80%;
    border-radius: 3px;
}

#m_category {
    margin-top:1%;
    height: 80%!important;
    width: 20px;
    margin-left:auto;
    margin-right:auto;
}

#m_drop {
    height: 60%!important;
    width: 20px;
    margin-left:auto;
    margin-right:auto;

}

.board__pannel__top a {
    text-decoration: none;
    width: auto;
    margin-right: -10px;
}

.board__pannel__top img {
    width: 50%;
    height:100%;
}

.board__pannel__left {
    display: flex;
    width: 100%;
}

.board__pannel__left ul {
    width: 100%;
}

.board__post__container {
    background-color: #ffffff;
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
}

.board__post__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.post__text {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.post__top {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}

.post__mid {
    display: flex;
    flex-direction: row;
    margin: 0 10px;

}

.post__image {
    display:none;
    width: 30%;
    height: 163px;
    margin-left: 10px;
}

.board__pannel__right {
    width: 20%;
    margin-left: 20px;
    margin-top: 20px;
}


.post__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__top__category {
    border-radius: 10px;
    border: solid #eff2f4 1px;
    padding: 3px 20px 3px 20px;
    font-weight: normal;
    color: #5d5c5e;
    text-align: center;
    font-size: 13px;
}

.post__top__author {
    font-size: 0.8rem
}

.post__mid {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    height: 100%;
}

.post__mid__title {
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.21;
    text-align: left;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: nowrap;
}

.post__mid__title a {
    color: #302d2c;
    /* width:100%; */
    text-decoration: none;
}

.post__mid__content {
    font-size: 0.8rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: left;
    color: #a6a7a7;
    height: 60px;

    word-break: break-all;
}

.post__text hr {
    width: 100%;
    background-color: #e3e3e3;
    border-top: solid 1px #e3e3e3;
    border-left: none;
    border-right: none;
    border-bottom: none;

}

.post__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 10px;
}

.post__bottom__icon {
    display: flex;
    align-items: flex-end;
    width: 40%;
    justify-content: space-between;
}

.post__bottom__icon button {
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
}

.s_con {
    display: flex;
    align-items: center;
    width: 33%;
    font-size: 0.8rem;
}

.s_con img {
    height: 0.8rem;
    width: 1.2rem;
    text-align: left;
    margin-right: 0.6rem;
}

.post__bottom__right {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between

}

.post__bottom__time{
    text-align: center;
    font-size: 0.8rem;
    color:#a6a7a7;
}

.post__bottom__bookmark img{
    height: 0.8rem;
    width: 1.2rem;
}


.board__pannel__right a {
    text-decoration: none;

}

.pannel__right__create {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    height: 180px;
    border-radius: 12px;

    margin-bottom: 20px;

}

.pannel__right__create img {
    width: 40%;
    margin-bottom: 10px;
}

.pannel__right__create p {
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4fbcbd;
}

.pannel__right__category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 12px;
}

.pannel__right__category p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #4fbcbd;
}

.right__category__list {
    width: 90%
}

.right__category__list li {
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-bottom: 10px;
}

#category__a {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: YDIYGO340;

}

.c_common {
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
}

.right__category__list a {
    text-decoration: none;
}

.c_a {
    background-color: #9cd0c1;
}

.c_b {
    background-color: #5f8da3;
}

.c_c {
    background-color: #55b4cf;
}

.c_d {
    background-color: #bfdec3;
}