.pc__board {
    display: none!important;
}

.board__main {
    display: flex;
    flex-direction: column-reverse;
    padding: 0!important;

}

.board__pannel__top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0.3rem;
    padding: 0 0.3rem!important;
    height: 2rem;
}

.pannel__top__state {
    height: 98%;
    display: flex;
    justify-content: flex-start;
}

.pannel__top__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    flex-grow: 1;
    height: 100%;
    margin-left: 0.25rem;
    margin-right: auto;
    border-radius: 5px;
}

.top__category__face {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    background-color: #9cd0c1;
    color: white;
    height: 80%;
    border-radius: 3px;
}

#show_drop_category a{
    display:flex!important;
    align-items: center!important;
    margin-top:3px!important;
    height: 100%!important;
    margin-left:auto!important;
    margin-right:auto!important;
}

#m_category {
    margin-top:1%;
    height: 80%!important;
    width: 20px;
}

#m_drop {
    height: 60%!important;
    width: 20px;
    margin-left:auto;
    margin-right:auto;

}

.header__dropdown {
    position: fixed;
    color:#4fbcbd;
    font-family: YDIYGO320;
    font-size: 0.9rem;
    background-color: rgba(227, 227, 227, 0.8);
    z-index: 1;
}

.header__dropdown a{
    color:#4fbcbd;
    text-decoration: none;
}

.board__pannel__top a {
    text-decoration: none;
    display: inline-block;
}
@media (min-width: 360px) {
    .board__pannel__top a {
        height: 100%;
        width: auto;
    }
}

.board__pannel__left {
    display: flex;
    width: 100%;
}

.board__pannel__left ul {
    width: 100%;
}

.board__post__container {
    background-color: #ffffff;
    /* height: 180px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
}

.board__post__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.post__text {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.post__top {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}

.post__mid {
    display: flex;
    flex-direction: row;
    margin: 0 10px;

}

.post__image {
    display:none;
    width: 30%;
    height: 163px;
    margin-left: 10px;
}

.board__pannel__right {
    width: 20%;
    margin-left: 20px;
    margin-top: 20px;
}


.post__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__top__category {
    border-radius: 10px;
    background-color:#eff2f4;
    padding: 3px 20px 3px 20px;
    font-weight: normal;
    color: black;
    text-align: center;
    font-size: 13px;
}

.post__top__author {
    font-size: 0.8rem;
}

.post__mid {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 100%;
}

.post__mid__title {
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.21;
    text-align: left;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.post__mid__title a {
    color: #302d2c;
    /* width:100%; */
    text-decoration: none;
}

.post__mid__content {
    font-size: 0.8rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    font-family: YDIYGO320;
    text-align: left;
    color: #a6a7a7;
    height: auto;

    word-break: break-all;
}

.post__text hr {
    width: 100%;
    background-color: #e3e3e3;
    border-top: solid 1px #e3e3e3;
    border-left: none;
    border-right: none;
    border-bottom: none;

}

.post__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 10px;
}

.post__bottom__icon {
    display: flex;
    align-items: flex-end;
    width: 80%;
    justify-content: space-between;
}

.post__bottom__icon button {
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
}

.s_con {
    display: flex;
    align-items: center;
    width: 33%;
    font-size: 0.8rem;
}

.s_con img {
    height: 0.8rem;
    width: 1.2rem;
    text-align: left;
    margin-right: 0.6rem;
}

.post__bottom__comment > img {
    margin-right: 0.5rem;
}

.post__bottom__right {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

.post__bottom__time{
    text-align: center;
    font-size: 0.8rem;
    color:#a6a7a7;
}

.post__bottom__bookmark img{
    height: 0.8rem;
    width: 1.2rem;
}


.board__pannel__right a {
    text-decoration: none;

}

.pannel__right__create {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    height: 180px;
    border-radius: 12px;

    margin-bottom: 20px;

}

.pannel__right__create img {
    width: 40%;
    margin-bottom: 10px;
}

.pannel__right__create p {
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4fbcbd;
}

.pannel__right__category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 12px;
}

.pannel__right__category p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #4fbcbd;
}

.right__category__list {
    width: 90%
}

.right__category__list li {
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-bottom: 10px;
}

#category__a {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: YDIYGO340;

}

.c_common {
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
}

.right__category__list a {
    text-decoration: none;
}

.c_a {
    background-color: #9cd0c1;
}

.c_b {
    background-color: #5f8da3;
}

.c_c {
    background-color: #55b4cf;
}

.c_d {
    background-color: #bfdec3;
}

.header__dropdown img {
    height: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.header__drop__search button {
    background-color: transparent;
    border:none;
    padding: 0;
}

.header__drop__search button img{
    margin-right: 0.8rem;
}

.header__drop__search input {
    border: none;
    color:#4fbcbd;
    font-family: YDIYGO340;
}

.header__drop__search input::placeholder {
    color:#4fbcbd;
}

.header__logo a {
    text-decoration: none;
}


.pannel__top__category_drop {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    height: auto;
    z-index: 1;
    flex-grow: 1;
    margin-left: 0.25rem;
    margin-right: auto;
    border-radius: 5px;

    background-color: white;
    box-shadow: 0 0 10px 10px rgba(166, 167, 167, 0.2);
}

.pannel__top__category_drop > img {
    margin: 0 10px;
}

.category__face__drop {
    /* margin-left: auto;
    margin-right: auto; */
    height: 100%;
    width: 75%;
}

.top__category__face__drop {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    height: 1.7rem;
    border-radius: 3px;
    margin: 5px 0;
    cursor: pointer;
}

.top__category__face__drop a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}


#top__category__face__drop__plus {
    background-color: #55b8bd;
}

#top__category__face__drop__plus img {
    width: 15px;
}

#m_category_drop {
    height: 20px;
    width: 20px;
    margin: 8px auto;
}

#m_drop_drop {
    height: 20px;
    transform: rotate(180deg);
    width: 20px;
    margin: 8px auto;
}

#hothot {
    margin-left: -10px;
}


