.mobile__board {
    display: none!important;
}
.mobile__header {
    display: none!important;
}

.mobile__board {
    display: none!important;
}


.board__main {
    display: flex;
    flex-direction: row;
}

.board__pannel__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pannel__top__state {
    width: 120px;
}

.board__pannel__top a {
    text-decoration: none;
    width: auto;
    margin-right: -10px;
}

.board__pannel__top img {
    width: 50%;
}

.post__top__author {
    font-size: 0.9rem;
}

.board__pannel__left {
    display: flex;
    width: 78%;
}

.board__pannel__left ul {
    width: 100%;
}

.board__post__container {
    background-color: #ffffff;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    border-radius: 12px;
}


.board__post__like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 5px;
    width: 10%;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.board__post__like button {
    border: none;
    background-color: transparent;
    margin-top: 4px;
}

.board__post__like img {
    width: 70%;
}

.board__post__like span {
    font-size: 0.9rem;
}

.board__post__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin: 10px;
}

.post__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.post__top {
    display: flex;
    flex-direction: row;
}

.post__mid {
    display: flex;
    flex-direction: row;
}

.post__bottom {
    display: flex;
    flex-direction: row;
}

.post__image {
    display:none;
}

.board__pannel__right {
    width: 20%;
    margin-left: auto;
    margin-top: 10px;
}


.post__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__top__category {
    background-color: #eff2f4;
    border-radius: 4px;
    padding: 2px 20px 2px 20px;
    color: #5d5c5e;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
}

.post__mid {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.post__mid__title {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.21;
    text-align: left;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.post__mid__title a {
    color: #302d2c;
    width:100%;
    text-decoration: none;
}

.post__mid__content {
    font-size: 0.8rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: left;
    font-family: YDIYGO320;

    color: #a6a7a7;
    height: 100%;

    word-break: break-all;
}

.post__text hr {
    width: 100%;
    background-color: #e3e3e3;
    border-top: solid 1px #e3e3e3;
    border-left: none;
    border-right: none;
    border-bottom: none;

}

.post__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__bottom__icon {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.post__bottom__time {
    font-size: 0.8rem;
}

.s_con {
    display: flex;
    align-items: center;
    width: 33%;
}

.s_con img {
    height: 0.6rem;
    width: 1.2rem;
    text-align: left;
    margin-right: 10%;
}

.s_con span {
    font-size: 0.8rem;
}

.board__pannel__right a {
    text-decoration: none;

}

.pannel__right__create {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    height: 140px;
    border-radius: 12px;

    margin-bottom: 10px;

}

.pannel__right__create img {
    width: 40%;
    margin-bottom: 10px;
}

.pannel__right__create p {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4fbcbd;
}

.pannel__right__category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
}

.pannel__right__category p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #4fbcbd;
}

.right__category__list {
    width: 90%
}

.right__category__list li {
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-bottom: 10px;
}

#category__a {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: YDIYGO340;

}

.c_common {
    font-size: 1rem;
    width: 80%;
    font-weight: normal;
    font-style: normal;
}

.right__category__list a {
    text-decoration: none;
}

.c_a {
    background-color: #9cd0c1;
}

.c_b {
    background-color: #5f8da3;
}

.c_c {
    background-color: #55b4cf;
}

.c_d {
    background-color: #bfdec3;
}