{% extends 'login_base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" media="(min-width:768px)" href="{% static 'accounts/css/mypage.css' %}">
  <link rel="stylesheet" media="(max-width:767px)" href="{% static "accounts/css/mypage_mobile.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static 'accounts/css/guideline.css' %}">
{% endblock %}

{% block contents %}
  <div class="mobile__header mypage__mobile__header">
    <img src="{% static "/svg/side-arrow.svg" %}" alt="" id="back">
    <p>My Page</p>
  </div>
  <div class="container">
    <div class="guideline">
      <div>Privacy & Legal Policy</div>

      <div>Data Protection</div>
      <div>This Privacy Policy shall apply to the ‘MY CAMPUS’ websites https://mycampus.site/</div>
      <div>1. GENERAL</div>
      <div>This privacy policy shall inform you on how we collect, process and use your Personal Data in connection with
        the Services.
      </div>
      <div>2. DATA WE COLLECT, PROCESS AND USE</div>
      <div>a. In general, we just collect your school email for sign up because of protecting exclusivity and safety.
      </div>
      <div>b. After verification, we’ll keep email address absolutely private. Other users cannot relate your the
        account
        to name or other personal information of you. It means nobody knows each other and you can use the website
        anonymously.
      </div>
      <div>Therefore, unless otherwise provided for in this privacy policy if you do not provide us directly with
        Personal
        Data in another, we do not use your personal data.
      </div>
      <div>c. If you provide to us information on the Website via a request form contained on the Website or on another
        way then we will process your data in order to answer your respective (information) requests. After the answer,
        we
        will delete your data.
      </div>
      <div>d. We might disclose your Personal Data where such disclosure is required by law (for example, upon request
        of
        a court or of law enforcement authorities)
      </div>
      <div>e. In order to keep ‘MY CAMPUS’ a safe place for students to connect to others, we take a user’s violations
        of
        the provisions of the policy of use (and in particular of our community guidelines) very seriously. We save
        school
        email of banned users in order to ensure that such banned users cannot open a new account (after having been
        blocked and after they delete their account) on their respective school email(we use the school email in this
        context to block the creation of respective new).
      </div>
      <div>3. Cookies</div>
      <div>a. Cookies are tiny text files that are sent to your browser by the server used to run your website and are
        stored on your computer's hard disk.
      </div>
      <div>The service may use cookies to identify your identity for site login.</div>
      <div>How to refuse cookies(For Chrome) :
        https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=ko
      </div>
      <div>b. The Website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google
        Analytics uses “cookies”, which are text files placed on your computer, to help analyze how you use the Website.
        The information generated by the cookie about your use of the Website will normally be transmitted to and stored
        by Google on servers in the United States. Google will use this information on behalf of the operator of the
        Website for the purpose of evaluating your use of the Website, compiling reports on Website activity and
        providing
        other services for the Website operator relating to Website activity and internet usage. You may refuse the use
        of
        cookies by selecting the appropriate settings on your browser, however please note that if you do this you may
        not
        be able to use all functions of the Website. You can also opt-out from the storage by Google of the data that is
        created by the cookie and is related to the use of the Website(including your IP address and comfortable log in)
        and the processing of such data by Google by downloading and installing the Google Analytics opt-out Browser
        add-on available under https://tools.google.com/dlpage/gaoptout?hl=en.
      </div>
      <div>For further information on Google Analytics please refer to: http://www.google.com/analytics/terms/</div>
      <div>4. DURATION OF STORAGE OF PERSONAL DATA</div>
      <div>Unless no shorter storage period is indicated in this privacy policy, we, in general, store Personal Data as
        long (i) as required for the provision of the Services to you, and/or (ii) as it is necessary with regard to the
        contractual relationship with you, thereafter only if and to the extent that we are obliged to do so by
        mandatory
        statutory retention obligations. If we no longer require the respective Personal Data for the purposes described
        above, such Personal Data will only be stored during the respective legal retention period and not processed for
        other purposes.
      </div>
      <div>5. YOUR RIGHTS</div>
      <div>You have the right to request information from us at any time about your Personal Data stored by us. If the
        legal requirements are met, you also have rights to request from us access to and rectification or erasure or
        restriction of processing concerning your Personal Data or to object to the processing of your Personal Data as
        well as the right to receive from us your Personal Data provided to us in a structured, established and
        machine-readable format (you can transfer this data to other parties or have it transferred; data portability).
      </div>
      <div>If you believe that the processing of your Personal Data by us is in breach of the applicable data protection
        laws, you can issue a complaint with the competent supervisory authority for data protection.
      </div>
      <div>6. KEEPING YOUR PERSONAL DATA SECURE</div>
      <div>We place great importance on the security of all Personal Data associated with the use of our Services. We
        have
        security measures in place to attempt to protect against the loss, misuse and alteration of Personal Data under
        our control. Our security and privacy policies are periodically reviewed and enhanced as we consider it
        appropriate and only authorised personnel have access to Personal Data. While we cannot ensure or guarantee that
        loss, misuse or alteration of information will never occur, we use all reasonable efforts to prevent it.
      </div>
      <div>We have taken additional extensive security precautions relating to our Services and its use. However you
        should bear in mind that in spite of such security measures, submission of information over the internet is
        never
        entirely secure. We cannot guarantee the security of information you submit via our Services while it is in
        transit over the internet.
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    const back = document.getElementById('back');

    back.onclick = () => {
      window.history.back();
    }
  </script>
{% endblock %}