<link rel="stylesheet" href="http://mycampus.site/static/accounts/css/mail.css">
<div id="mail__wrapper">
    <div class="mail__message">
        <p>
            [Team MY CAMPUS] <br>
            We are glad you are with us! Want to log in?
        </p>
    </div>
    <div class="mail__validate-button">
        <a href="{{ url }}">
            <div class="mail__verify-button">
                <span>
                    Click My Campus
                </span>
            </div>
        </a>
    </div>
</div>