.mobile__header {
    display: none!important;
}

.board__header__right {
    display: flex;
    align-items: center;
    width: 20%;
}

.board__header__right li {
    display: flex;
    justify-content: center;
}

.board__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width:100%;
}

.board__buttons img{
    height: 25px;
}

#h__post {
    height: 33px!important;
}

.board__header__search {
    height: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    width: 400px;
}

.board__header__search form {
    height: 100%;
    display: flex;
    align-items: center;
}

.board__header__search input {
    border: none;
    height: 100%;
    padding: 0;
    background-color: transparent;
}

.board__header__search button {
    border: none;
    background-color:transparent;
    padding: 0!important;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1px;
}

.board__header__search button img {
    width: 18px;
}
