* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.error-logo {
  width: 350px;
  margin-top: 120px;
}

.error-number {
  color: #4fbcbd;
  font-size: 200px;
  font-weight: bold;
}

.error-message {
  color: #4fbcbd;
  font-size: 30px;
}


@media (max-width: 769px) {
  .error-logo {
    width: 200px;
    margin-top: 50px;
  }

  .error-number {
    color: #4fbcbd;
    font-size: 100px;
    font-weight: bold;
  }

  .error-message {
    color: #4fbcbd;
    font-size: 20px;
  }
}