html {
    height: 100%;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4fbcbd;
    flex-direction: column;
  }
  .error-number {
    font-size: 200px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .error-message {
    margin-top:0;
    font-size: 30px;
  }
