@import "reset.css";
@import "header.css";
@import "container.css";

:root {
--wrapper-color: #E3E3E3;
--border-radius: 0.5rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--wrapper-color);
    font-family: YDIYGO340;
}


@font-face {
    font-family: YDIYGO340;
    src: url("../../fonts/YDIYGO340.ttf") format('truetype');
}

@font-face {
    font-family: YDIYGO320;
    src: url("../../fonts/YDIYGO320.ttf") format('truetype');
}
