.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: auto auto;
}

@media (min-width: 548px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 772px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 980px) {
  .container {
    width: 1170px;
  }
}



