{% extends 'login_base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" media="(max-width:767px)"
        href="{% static "board/css/board_header/board_header_mobile.css" %}" type="text/css">
  <link rel="stylesheet" media="(max-width:767px)" href="{% static "board/css/board_post/board_post_mobile.css" %}"
        type="text/css">
  <link rel="stylesheet" media="(min-width:768px)" href="{% static "board/css/board_post/board_post_small.css" %}"
        type="text/css">
  <link rel="stylesheet" media="(min-width:992px)" href="{% static "board/css/board_post/board_post_medium.css" %}"
        type="text/css">
  <link rel="stylesheet" media="(min-width:1200px)" href="{% static "board/css/board_post/board_post_large.css" %}"
        type="text/css">
  <link rel="stylesheet" href="{% static "components/spinner.css" %}">
{% endblock %}

{% block contents %}
  <ul>
    {% for notification in notifications %}
      <li>
      {{ notification.content_type }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}