{% extends 'base.html' %}

{% load child_comments %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'board/css/post_detail.css' %}">
{% endblock %}

{% block contents %}
  <div class="container">
    <div class="detail__wrapper">
      <div class="detail__post__header">
        <a href="{% url 'core:board:main_board' univ.url_name %}">
          <span style="color: #55b8bd;">&lt;</span> My Campus
        </a>
      </div>
      <div class="detail__post__container">
        <div class="post__container__row">
          <div id="post__category">{{ selected_category.name }}</div>
          <div class="post__function">
            <div>
              <button type="button" class="reset-button"
                      onclick="bookmark({{ post.pk }})">
                {% if user in post.saved.all %}
                  <img id="saved_id_{{ post.pk }}" src="{% static 'svg/bookmark.svg' %}" alt=""
                       class="post__bookmark bookmark_clicked">
                {% else %}
                  <img id="saved_id_{{ post.pk }}" src="{% static 'svg/scrap.svg' %}" alt=""
                       class="post__bookmark">
                {% endif %}
              </button>
            </div>
            <div><img src="{% static 'svg/message.svg' %}" alt="" id="post__message"></div>
            <div><img src="{% static 'svg/report.svg' %}" alt="" id="post__report"></div>
          </div>
        </div>
        <div class="post__container__row">
          <div id="post__title">
            {{ post.title }}
          </div>
        </div>
        <div class="post__container__row post__author_when__row">
          <div id="post__author">
            <img src="{% static '/svg/Anon.svg' %}" alt="">
            <div>{{ post.name }}</div>
          </div>
          <div id="post__when">
            {{ post.time_interval }}
          </div>
        </div>
        <div class="post__container__row">
          <div id="post__content">
            {{ post.content }}
          </div>
        </div>
        <div class="post__container__row row__align-center">
          <div id="post__info">
            <div class="post__like">
              <button type="button" class="like reset-button" name="{{ post.pk }}" value="Like"
                      onclick="likePost({{ post.pk }})">
                {% if user in post.likes.all %}
                  <img id="like_id_{{ post.pk }}" class='clicked' src="{% static "/svg/like-clicked.svg" %}"/>
                {% else %}
                  <img id="like_id_{{ post.pk }}" src="{% static "/svg/like.svg" %}"/>
                {% endif %}
              </button>
              <div id="post_{{ post.pk }}">
                {{ post.total_likes }}
              </div>
            </div>
            <div class="post__comment-count">
              <img src="{% static "/svg/comment.svg" %}"/>
              <div>{{ post.comments.all.count }}</div>
            </div>
            <div class="post__share" id="current_url">
              <img src="{% static '/svg/share.svg' %}" alt="">
              <div>Share</div>
            </div>
          </div>
        </div>
      </div>
      <div class="detail__post__comment">
        <div class="comment__form__row">
          <form action="{% url 'core:board:comment_create' univ.url_name selected_category.name post.pk %}"
                method="post" class="comment__form">
            {% csrf_token %}
            <div class="comment__form__top">
              <textarea name="content" cols="40" rows="10"
                        placeholder="Please leave a comment."></textarea>
            </div>
            <div class="comment__form__bottom">
              <div class="comment__checkbox__wrapper">
                <input type="checkbox" name="is_anonymous" class="comment__checkbox"
                       id="comment__is_anonymous" checked>
                <label for="comment__is_anonymous">
                </label>
                anon
              </div>
              <button type="submit" class="reset-button comment__write">
                <img src="{% static "/svg/comment.svg" %}"/>
                comment
              </button>
            </div>
          </form>
        </div>
        <div class="comment_list">
          {% for comment in comments %}
            <div class="comment__row">
              <div class="comment__top">
                <div class="comment__top__left">
                  <img src="{% static '/svg/Anon.svg' %}" alt="">
                  <div class="comment__info">
                    <div class="comment__author">{{ comment.name }}</div>
                    <div class="comment__created_at">{{ comment.time_interval }}</div>
                  </div>
                </div>
                <div class="comment__top__right">
                  <div class="comment__like">
                    <button type="button" class="like reset-button" name="{{ comment.pk }}" value="Like"
                            onclick="likeComment({{ comment.pk }})">
                      {% if user in comment.likes.all %}
                        <img id="like_id_{{ comment.pk }}" class='clicked' src="{% static "/svg/like-clicked.svg" %}"/>
                      {% else %}
                        <img id="like_id_{{ comment.pk }}" src="{% static "/svg/like.svg" %}"/>
                      {% endif %}
                    </button>
                    <div id="comment_{{ comment.pk }}">
                      {{ comment.total_likes }}
                    </div>
                  </div>
                  <div class="comment__comment">
                    <button type="button" class="reset-button" name="{{ comment.pk }}"
                            onclick="clickNestedComment({{ comment.pk }})">
                      <img src="{% static "/svg/comment.svg" %}"/>
                      comment
                    </button>
                  </div>
                </div>
              </div>
              <div class="comment__bottom">
                {{ comment.content }}
              </div>
            </div>
            <div class="nested_comment">
              <div class="nested_comment_form" id="nested_comment_form_{{ comment.pk }}"></div>
              <div class="nested_comment_list" id="nested_comment_list_{{ comment.pk }}">
                {% for nested_comment in comment|child_comments %}
                  <div class="comment__row nested_comment__row">
                    <div class="comment__top">
                      <div class="comment__top__left">
                        <img src="{% static '/svg/Anon.svg' %}" alt="">
                        <div class="comment__info">
                          <div class="comment__author">{{ nested_comment.name }}</div>
                          <div class="comment__created_at">{{ nested_comment.time_interval }}</div>
                        </div>
                      </div>
                      <div class="comment__top__right nest_comment__top__right">
                        <div class="comment__like">
                          <button type="button" class="like reset-button" name="{{ comment.pk }}" value="Like"
                                  onclick="likeComment({{ nested_comment.pk }})">
                            <img id="like_id_{{ nested_comment.pk }}" src="{% static "/svg/like.svg" %}"/>
                          </button>
                          <div id="comment_{{ nested_comment.pk }}">
                            {{ nested_comment.total_likes }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comment__bottom">
                      {{ nested_comment.content }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>

  <script>
    // 북마크
    function bookmark(postPk) {
      let bookmark_img = document.getElementById(`saved_id_${postPk}`);
      if (!(bookmark_img.classList.contains('bookmark_clicked'))) {
        bookmark_img.src = '{% static 'svg/bookmark.svg' %}';
        bookmark_img.classList.add('bookmark_clicked', 'post__bookmark');
      } else {
        bookmark_img.src = '{% static 'svg/scrap.svg' %}';
        bookmark_img.classList.remove('bookmark_clicked');
      }
      const url = '{% url 'api:post_bookmark' %}';
      $.ajax({
        type: 'POST',
        url: url,
        data: {
          'pk': postPk,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        datatype: "json",
        success: function (response) {
        },
        error: function (request, status, error) {
          alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        }
      })
    }

    // 게시글 좋아요
    function likePost(postPk) {
      let like_img = document.getElementById(`like_id_${postPk}`);
      // console.log(like_img.classList.contains('clicked'));
      if (!(like_img.classList.contains('clicked'))) {
        like_img.src = '{% static 'svg/like-clicked.svg' %}';
        like_img.setAttribute('class', 'clicked');
      } else {
        like_img.src = '{% static 'svg/like.svg' %}';
        like_img.removeAttribute('class', 'clicked');
      }
      const url = '{% url 'api:post_like' %}';
      $.ajax({
        type: 'POST',
        url: url,
        data: {
          'pk': postPk,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        datatype: "json",
        success: function (response) {
          $(`#post_${response['pk']}`).text(response['likes_count']);
        },
        error: function (request, status, error) {
          alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        }
      })
    }


    // 댓글 좋아요
    function likeComment(commentPk) {
      const url = '{% url 'api:comment_like' %}';

      $.ajax({
        type: 'POST',
        url: url,
        data: {
          'pk': commentPk,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        datatype: "json",
        success: function (response) {
          $(`#comment_${response['pk']}`).text(response['likes_count']);
        },
        error: function (request, status, error) {
          alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        }
      })
    }


    // 댓글 작성
    /*
    function writeComment() {
      const url = '{% url 'core:board:comment_create' 'url_name' 'category' 0 %}'
          .replace('url_name', "{{ univ.url_name }}").replace('category', "{{ selected_category.name }}").replace('0', "{{ post.pk }}");
      $.ajax({
        type: 'POST',
        url: url,
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'comment_content': document.querySelector('#id_content').value,
          'comment_is_anonymous': document.querySelector('#id_is_anonymous').checked,
        },
        datatype: "json",
        success: function (response) {
          let commentList = '';
          let comments = response['comments'];
          comments.forEach(el => {
            commentList += `
              <input type="button" class="comment_like" name="${el['pk']}" value="Like" onclick="likeComment(${el['pk']})">
              <span id="comment_${el['pk']}">${el['comment_likes']}</span>
              ${el['content']} ${el['name']}
              <span style="font-size: 13px; color: grey;">${el['created_at']}</span>
              <button type="button" onclick="clickNestedComment(${el['pk']})">
                대댓글
              </button>
              <div class="nested_comment">
                <div class="nested_comment_form" id="nested_comment_form_${el['pk']}"></div>
                <div class="nested_comment_list" id="nested_comment_list_${el['pk']}" style="margin-left: 50px;">

                </div>
              </div>
              <br>
            `
          });
          document.querySelector('#id_content').value = '';
          document.querySelector('.comment_list').innerHTML = commentList;
        },
        error: function (request, status, error) {
          alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        }
      })
    }
    */

    // 대댓글 버튼 클릭
    function clickNestedComment(commentPk) {
      let nestedCommentBox = document.querySelector(`#nested_comment_form_${commentPk}`);
      let commentForm;
      if (nestedCommentBox.innerHTML)
        commentForm = '';
      else
        commentForm = `
        <div class="comment__form__row">
          <form action="{% url 'core:board:comment_nest_create' univ.url_name selected_category.name post.pk %}"
                method="post" class="comment__form">
            {% csrf_token %}
            <div class="comment__form__top">
              <textarea name="nested_content" cols="40" rows="10"
                        placeholder="Please leave a comment."></textarea>
            </div>
            <div class="comment__form__bottom">
              <div class="comment__checkbox__wrapper">
                <input type="checkbox" name="nested_is_anonymous" class="comment__checkbox"
                       id="comment__is_anonymous_${commentPk}" checked>
                <label for="comment__is_anonymous_${commentPk}">
                </label>
                anon
              </div>
              <button type="submit" class="reset-button comment__write" id="comment_write_${commentPk}">
                <img src="{% static "/svg/comment.svg" %}"/>
                comment
              </button>
            </div>
            <input type="hidden" name="parent_id" value="${commentPk}">
          </form>
        </div>
        `;
      nestedCommentBox.innerHTML = commentForm;
    }


    /*
    // 대댓글 작성
    function writeNestedComment(commentPk) {
      const url = '{% url 'core:board:comment_nest_create' 'url_name' 'category' 0 %}'
          .replace('url_name', "{{ univ.url_name }}").replace('category', "{{ selected_category.name }}").replace('0', "{{ post.pk }}");
      $.ajax({
        type: 'POST',
        url: url,
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'nested_comment_content': document.querySelector(`#nested_comment_write_${commentPk}`).value,
          'nested_comment_is_anonymous': document.querySelector(`#nested_comment_is_anonymous_${commentPk}`).checked,
          'parent_id': commentPk
        },
        datatype: "json",
        success: function (response) {
          let commentList = '';
          let comments = response['comments'];
          comments.forEach(el => {
            commentList += `
              <input type="button" class="comment_like" name="${el['pk']}" value="Like" onclick="likeComment(${el['pk']})">
              <span id="comment_${el['pk']}">${el['comment_likes']}</span>
              ${el['content']} ${el['name']}
              <span style="font-size: 13px; color: grey;">${el['created_at']}</span>
              <br>
            `;
          });
          document.querySelector(`#nested_comment_form_${commentPk}`).innerHTML = '';
          document.querySelector(`#nested_comment_list_${commentPk}`).innerHTML = commentList;
        },
        error: function (request, status, error) {
          alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        }
      })
    }
    */

    // share
    document.querySelector("#current_url").addEventListener("click", function () {
      let tempElem = document.createElement('textarea');
      tempElem.value = window.location.href;
      document.body.appendChild(tempElem);

      tempElem.select();
      tempElem.setSelectionRange(0, 9999);
      document.execCommand("copy");
      document.body.removeChild(tempElem);
    })
  </script>
{% endblock %}