{% extends 'base.html' %}

{% block contents %}
    <div class="base__header mobile__header">
        <div class="base__header__used-space container">
            <div class="header__wrap">
                <div class="header__main">
                    <div class="header__ham" id="h_click">
                        <img src="{% static "/svg/햄버거.svg" %}" alt="">
                    </div>
                    <div class="header__logo">
                    <a href="{% url 'core:board:main_board' url_name %}">
                        <img src="{% static "/svg/box logo.svg" %}">
                        <img src="{{ univ.logo_mobile.url }}">
                        </a>
                    </div>
                    <div class="board__header__right">
                        <ul class="board__buttons">
                            <a href="{% url 'core:accounts:mypage' univ.url_name %}">
                            <li><img src="{% static "/svg/messege box.svg" %}"></li>
                            </a>
                            <a href="{% url 'core:board:post_create' univ.url_name %}">
                                <li><img id="h__post" src="{% static "/svg/post.svg" %}"></li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__dropdown mobile__header pd__drop"  id="h_h"  style="display: none;">
     <a href="{% url 'core:accounts:mypage' univ.url_name %}">
        <div class="header__drop__mypage">
            <img src="{% static "/svg/마이페이지.svg" %}" alt="">My Page
        </div>
        </a>
        <div class="header__drop__notification">
            <img src="{% static "/svg/알림.svg" %}" alt="">Notification</div>
        <div class="header__drop__search">
            <form action="" method="get">
                <button type="submit" value="search">
                    <img src="{% static "/svg/검색.svg" %}">
                </button>
                <input type="text" placeholder="Search" name="search" value="{{ search }}">
            </form>
        </div>
    </div>
  <div class="container">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="file" accept="image/*" name="images" multiple>
      <input type="submit">
    </form>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    function photoClick() {
      document.querySelector('#image_field').click();
    }

    document.getElementById('h_click').onclick = () =>{
        var drop = document.getElementById("h_h");
        if(drop.style.display == 'none'){
            drop.style.display = 'flex';
        } else {
            drop.style.display = 'none';
        }
    }
  </script>

{% endblock %}
