<div>
    <li class="board__post__container">
        <div class="board__post__content">
            <div class="post__text">
                <div class="post__top">
                    <div class="post__top__category">
                        {0}
                        {{ post.ctgy.name }}
                    </div>
                    <div class="post__top__author">
                        {1}
                        {{ post.name }}
                    </div>
                </div>
                <div class="post__mid">
                    <div class="post__mid__title">
                        <a href="{% url 'core:board:post_detail' univ.url_name post.ctgy.name post.pk %}{3}">{{ post.title|truncatechars:30 }}{4}</a>
                    </div>
                    <div class="post__mid__content">
                        {{ post.content|truncatechars:190 }}{5}
                    </div>
                </div>
                <hr/>
                <div class="post__bottom">
                    <div class="post__bottom__icon">
                        <div class="s_con post__bottom__view">
                            {% if user in post.viewed_by.all %}
                                <img src="{% static "/svg/view-clicked.svg" %}"/>
                            {% else %}
                                <img src="{% static "/svg/view.svg" %}"/>
                            {% endif %}
                            <span>{{ post.views }}</span>
                        </div>

                        <div class="s_con post__bottom__like">
                            <button type="button" class="like" name="{{ post.pk }}" value="Like">
                                {% if user in post.likes.all %}
                                    <img id="m_like_id_{{ post.pk }}" class='clicked'
                                         src="{% static "/svg/like-clicked.svg" %}"/>
                                {% else %}
                                    <img id="m_like_id_{{ post.pk }}" src="{% static "/svg/like.svg" %}"/>
                                {% endif %}
                            </button>
                            <span id="m_post_{{ post.pk }}">{{ post.total_likes }}</span>
                        </div>

                        <div class="s_con post__bottom__comment">
                            {% if user.pk in post.comments_author %}
                                <img src="{% static "/svg/comment-clicked.svg" %}"/>
                            {% else %}
                                <img src="{% static "/svg/comment.svg" %}"/>
                            {% endif %}
                            <span>{{ post.comments.all.count }}</span>
                        </div>
                    </div>
                    <div class="post__bottom__right">
                        <div class="post__bottom__time">
                            {{ post.time_interval }}
                        </div>
                        <div class="post__bottom__bookmark">
                            {% if user in post.saved.all %}
                                <img src="{% static "/svg/bookmark.svg" %}"/>
                            {% else %}
                                <img src="{% static "/svg/scrap.svg" %}"/>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</div>