.reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.new__category__container {
  background-color: white;
  border-radius: 13px;
  margin-top: 2rem;
}

.category__form__top {
  display: flex;
  align-items: center;
  padding: 13px;
  width: 100%;
  justify-content: center;
}

.category__form__top > a {
  width: 5%;
}

.category__form__top img {
  width: 16px;
}

.category__form__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  border-top: 1px solid #cecece;
  background-color: #f4f4f4;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.category__form__top > div {
  width: 95%;
  margin-right: 5%;
  font-size: 23px;
  font-weight: bolder;
  text-align: center;
}

.category__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.category__form__name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__form__name {
  font-size: 20px;
  font-family: YDIYGO330;
}

.category__form__dscrp > label {
  width: 10%;
}

.category__form__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__form__button > button {
  font-family: YDIYGO320;
  width: 100%;
  font-size: 25px;
  color: white;
  background-color: #4fbcbd;
  border-radius: 8px;
  padding: 5px 0;
}

#id_name {
  margin-left: 3%;
  width: 87%;
  padding: 10px;
  border: unset;
}

.category__form__dscrp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
}

.category__form__dscrp > div {
  width: 100%;
  font-size: 20px;
  font-family: YDIYGO330;
  margin-bottom: 15px;
}

#id_dscrp {
  width: 100%;
  border: unset;
  font-family: YDIYGO330;
  font-size: 15px;
  padding: 15px;
  height: 120px;
  resize: none;
}

@media (max-width: 767px) {
  body {
    background-color: white;
  }

  .container {
    padding: 0;
    margin-top: -12px;
  }

  .category__form__top {
    border-top: 1px solid #cecece;
  }

  .category__form__top > div {
    font-weight: normal;
  }

  .category__form__bottom {
    border-bottom: 1px solid #cecece;
    border-radius: unset;
  }

  #id_name, #id_dscrp {
    border: 1px solid #cecece;
  }
}