{% load static %}


.report-modal {
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.report-form-container {
    font-family: YDIYGO320;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50%;
    border-radius: 12px;
    padding: 30px 0;
    background-color: white;
}
/* 
#on-report-modal {
    display: flex;
} */

.report-radio__wrap {
    width: 50%;
    display: flex;
    justify-content: space-between;
    background-color:#e8e8e8;
    padding: 10px 30px;
    border-radius: 8px;
    margin: 2.5px 0;
}

.report__form-radio {
    display: none;
}

.report__form-radio + label {
    margin-right: 5px;
    border: 1px solid #4fbcbd;
    height: 16px;
    width: 16px;
    display: inline-block;
    padding: 0;
    cursor: pointer;
}

.report__form-radio + label:hover {
  border: 2px solid black;
}

.report__form-radio:checked + label {
  background-color: #4fbcbd;
}

.report-button {
    border: none;
    color: #fff;
    background-color:#e26b7f;
    width: 50%;
    padding: 10px 30px;
    border-radius: 8px;
    margin-top:5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.report-button img {
    position: absolute;
    left: 25px;
    height: 60%;
}

@media(max-width: 768px) {
    .report-form-container {
        font-family: YDIYGO320;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 50%;
        border-radius: 12px;
        padding: 30px 0;
        background-color: white;
    }
    .report-radio__wrap {
        width: 80%;
        display: flex;
        justify-content: space-between;
        background-color:#e8e8e8;
        padding: 10px;
        border-radius: 8px;
        margin: 2.5px 0;
    }
    .report-button {
        border: none;
        color: #fff;
        background-color:#e26b7f;
        width: 80%;
        padding: 10px 30px;
        border-radius: 8px;
        margin-top:5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }


}



/* 
input[type="radio"] {
    display:none;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url("/static/board/png/checkbox.png") left top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url('/project/core/static/png/checkbox-clicked.png') -19px top no-repeat;
} */