{% extends "admin/base_site.html" %}
{% block content %}
    <h1><b>TITLE</b></h1>
    <h1>{{ suggested.content_type }}</h1>
    <hr/>
    <h3>Descripton</h3>
    <p>{{ dscrp}}</p>
    <hr/>
    <button type="button"><a href="/admin/board/suggested/suggested/{{ suggested.pk }}/edit">edit</a></button>
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit">approve</button>
    </form>
    <button type="button"><a href="/admin/board/suggested/suggested/{{ suggested.pk }}/delete">disapprove</a></button>

<script>
    if ('{{message}}') {
       alert('{{ message }}');
       console.log("hello");
    }
</script>
{% endblock %}
